/* line 78, ../sass/screen.scss */
#video-list {
  width: 1200px;
}
/* line 80, ../sass/screen.scss */
#video-list ul {
  list-style-type: none;
  width: 100%;
}
/* line 83, ../sass/screen.scss */
#video-list ul li {
  width: 800px;
  margin: 20px auto;
}

/* line 91, ../sass/screen.scss */
#photo-list {
  width: 1200px;
}
/* line 93, ../sass/screen.scss */
#photo-list ul {
  list-style-type: none;
}
/* line 95, ../sass/screen.scss */
#photo-list ul li {
  float: left;
  width: 350px;
  height: 480px;
  margin: 10px 20px 10px 0;
}
/* line 100, ../sass/screen.scss */
#photo-list ul li:nth-child(3n) {
  margin-right: 0;
}

/* line 119, ../sass/screen.scss */
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

/* line 124, ../sass/screen.scss */
.cf:after {
  clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
/* line 132, ../sass/screen.scss */
.cf {
  *zoom: 1;
}
