<div class="main">	
	<h2>Instagram Most Popular</h2>
	<div id="video-list">
		<ul class="cf">
			<% _.each(videos, function(video) {  %>
			 <% if (video.get('type') === 'video') { %>
				<li>
					
					<h4><%= video.get('user')['username']%></h4>
					
						<video controls>
						  <source src="<%=video.get('videos')['low_resolution']['url'] %>" type="video/mp4">
						  Your browser does not support the <code>video</code> element.
						</video>
					
					<% if (video.get('caption')) { %>
					<p><%= video.get('caption')['text'] %></p>
					<% };%>
				</li>
				<%}%>
			<% }); %>
		</ul>
	</div>
</div>	
<div class="sidebar"></div>