<div class="main">	

	<button id="refresh">Refresh</button>
	<div id="photo-list">
		<ul class="cf">
			<% _.each(photos, function(photo) {  %>
			<% if (photo.get('type') == 'image') { %>
				<li>
					<h4><%= photo.get('user')['username']%></h4>
						<img src="<%= photo.get('images')['low_resolution']['url'] %>">
						<span class="count"><span class="like">&hearts;</span> <%= photo.get('likes')['count'] %></span>
				</li>
				<% };%>
			<% }); %>
		</ul>
	</div>
</div>	
<div class="sidebar"></div>